<h1>Log In</h1>

<%= form_tag sessions_path do %>
  <div class="row">
    <%= label_tag :email, 'Email address' %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div class="row">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="row">
    <%= submit_tag "Log in", class: 'button button-primary' %>
    <%= link_to "Sign up", sign_up_path, class: 'button' %>
  </div>

  <div class="row">
    <%= link_to, "Forgot your password?", recover_password_path %>
  </div>
<% end %>

