<%= form_for @user, url: @user.new_record? ? account_create_path : account_update_path do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :id %>

  <div class="row">
    <div class="four columns">
      <%= f.label :display_name, 'Name' %>
      <%= f.text_field :display_name, class: 'u-full-width' %>
    </div>
  </div>

  <div class="row">
    <div class="four columns">
      <%= f.label :email, 'Email address' %>
      <%= f.text_field :email, class: 'u-full-width' %>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <%= f.label :lastfm_username, 'last.fm username' %>
      <%= f.text_field :lastfm_username, class: 'u-full-width' %>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <%= f.label :send_weekly_email do %>
        <%= f.check_box :send_weekly_email %>
        Send weekly email
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <%= f.label :public_chart do %>
        <%= f.check_box :public_chart %>
        Allow anyone with the URL to see my latest Backtracks
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'off', placeholder: @updating ? '(leave blank if unchanged)' : '', class: 'u-full-width' %>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: @updating ? '(leave blank if unchanged)' : '', class: 'u-full-width' %>
    </div>
  </div>

  <%= f.submit user_form_submit_button_text, class: 'button button-primary' %>
<% end %>

