%html
  %body{:style => "width: 550px; margin: 10px auto"}
    %a{:href => "http://backtracks.co"}
      %center
        %h1 BackTracks

    %div{:style => "width:550px"}
      Hi everyone! Hopefully everything looks pretty similar, but
      the email you're looking at is coming from the 2016 edition
      of Backtracks, and the hope is that it'll be more reliable
      and easier to investigate any issues if they pop up. If
      anything seems weird, please let me know ASAP so I can look
      into it! Thanks a lot for your patience; I'm really excited
      to bring you some new features soon now that the foundation
      is more solid.

      Questions? Comments? Wanna say hello? Just hit reply!

      \-your pal @ckolderup

    - years.each do |year|
      - next if year[:album_rows].empty?
      %h2= "#{Time.now.strftime('%B')} #{Time.now.year - year[:num]}"

      %h3 Albums

      %table
        - year[:album_rows].each do |row|
          %tr
            - row[:albums].each do |album|
              - album_text = "#{album.artist} - #{album.title}"
              %td
                %a{:href => album.url}
                  %img{:src => album.cover, :width => 160, :height => 160, :alt => album_text, :title => album_text }

      %table
        %tr
          %th{:width => 275}
            %h3 Artists
          %th{:width => 275}
            %h3 Tracks
        %tr
          %td{:width => 275}
            - if year[:artists].empty?
              %center
                %small No Data
            - else
              %ol
                - year[:artists].each do |artist|
                  %li
                    %a{:href => artist.url}
                      = artist.name
          %td{:width => 275}
            - if year[:tracks].empty?
              %center
                %small No Data
            - else
              %ol
                - year[:tracks].each do |track|
                  %li
                    %a{:href => track.url}
                      = "#{track.artist} - #{track.title}"

    %div{:style => "font-size: 10px"}
      You can unsubscribe from your <a href="http://backtracks.co/account">Account</a> page. |
      Feedback? Just reply to this email.                                                    |
