<!DOCTYPE html>
<html>
<head>
  <title>Backtracks</title>
  <%= favicon_link_tag('favicons/apple-icon-57x57.png', rel: 'apple-touch-icon', sizes: '57x57', type: 'image/png') %>
  <%= favicon_link_tag('favicons/apple-icon-60x60.png', rel: 'apple-touch-icon', sizes: '60x60', type: 'image/png') %>
  <%= favicon_link_tag('favicons/apple-icon-72x72.png', rel: 'apple-touch-icon', sizes: '72x72', type: 'image/png') %>
  <%= favicon_link_tag('favicons/apple-icon-76x76.png', rel: 'apple-touch-icon', sizes: '76x76', type: 'image/png') %>
  <%= favicon_link_tag('favicons/apple-icon-114x114.png', rel: 'apple-touch-icon', sizes: '114x114', type: 'image/png') %>
  <%= favicon_link_tag('favicons/apple-icon-120x120.png', rel: 'apple-touch-icon', sizes: '120x120', type: 'image/png') %>
  <%= favicon_link_tag('favicons/apple-icon-144x144.png', rel: 'apple-touch-icon', sizes: '144x144', type: 'image/png') %>
  <%= favicon_link_tag('favicons/apple-icon-152x152.png', rel: 'apple-touch-icon', sizes: '152x152', type: 'image/png') %>
  <%= favicon_link_tag('favicons/apple-icon-180x180.png', rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png') %>
  <%= favicon_link_tag('favicons/android-icon-192x192.png', rel: 'icon', type: 'image/png') %>
  <%= favicon_link_tag('favicons/favicon-32x32.png', rel: 'icon', type: 'image/png') %>
  <%= favicon_link_tag('favicons/favicon-96x96.png', rel: 'icon', type: 'image/png') %>
  <%= favicon_link_tag('favicons/favicon-16x16.png', rel: 'icon', type: 'image/png') %>
  <%= favicon_link_tag('favicons/manifest.json', rel: 'manifest', type: 'text/json') %>
  <meta name="theme-color" content="#ffffff">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row header">
    <div class="two columns logo">
      <%= link_to image_tag('backtracks-small.png'), root_path %>
    </div>
    <div class="six columns name">
      <%= link_to('Backtracks', root_path) %>
    </div>
    <div class="four columns nav">
      <% if current_user.present? %>
        <%= link_to 'Latest', latest_path(current_user.slug) %> &middot;
        <%= link_to 'Account', account_path %> &middot;
        <%= link_to 'Log out', log_out_path %>
      <% else %>
        <%= link_to 'Log In', log_in_path %>
      <% end %>
    </div>
  </div>

  <div class="row notifications">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
  </div>

  <%= yield %>

  <div class="row">
    <div class="two columns">&nbsp;</div>
    <div class="eight columns footer">
      This is a <a href="http://casey.kolderup.org">@ckolderup</a> project! Follow <a href="http://twitter.com/backtracks_co">@backtracks_co</a> on Twitter for news and status updates.
    </div>
    <div class="two columns">&nbsp;</div>
  </div>
</div>

</body>
</html>
